.ImageLinkForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ImageLinkForm p {
	font-size: 1.5em;
}

.ImageLinkForm input {
	padding: .5em;
	width: 70%;

}

.ImageLinkForm button {
	padding: .5em;
	font-size: 1em;
	text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
	border: none;
	color: white;
	width: 20%;
	min-width: 75px;
	font-family:'Roboto', "Courier New", sans-serif;
	background: #DA03AA;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 5px 3px #999;
}

.ImageLinkForm button:active {
	margin-top: 5px;
	transition: all 0.1s;
}

.ImageLinkForm .center {
	width: 70%;
	min-height: 60px;
	min-width: 300px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.4);
	/* Honeycomb by */
	background:
	radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
	radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
	linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
	linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
	linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
	background-size:40px 60px;
}