.Tilt {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	min-width: 80px;
	font-size: 2em;
	background: linear-gradient(to right, rgb(255, 255, 255), rgb(227, 197, 255));
}

.Tilt img {
	padding-top: 10px;
}