nav {
	display: flex;
	justify-content: flex-end;
	padding: 1.25em;
	height: 0px;
}

nav p {
	font-size: 1.25em;
	padding-left: 1.25em;
	cursor: pointer;
}

nav p:hover {
	transition: all 0.2s;
	color: white;
}